@model TimeSheet.ViewModels.Marcacao.MarcacaoVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MarcacaoVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataMarcacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataMarcacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntradaManha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntradaManha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaidaManha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaidaManha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntradaTarde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntradaTarde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaidaTarde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaidaTarde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
